<!DOCTYPE html>
<html>
<head>
    <meta>
    <title>E-Learning Platform</title>
    <link href="./style.css" rel="style">
    <script type="module" src="/course.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">
    <div class="max-w-6xl mx-auto px-4 mt-4">
        <nav class="flex items-center justify-between bg-white p-3 rounded-lg shadow-md mb-6">
            <a href=""><img src="/images.jpg" alt="emsiLogo" class="h-10 w-auto"></a>
            <a href="/dashboard.html" target="_blank" class="text-gray-700 hover:text-blue-200 font-medium">Dashboard</a>
            <a id="userNav" href="/myProfile.html" class="text-black bg-green-500 px-3 py-1 font-medium hover:text-blue-500"></a>
            <a href="/logout.html" class="text-white bg-red-500 hover:bg-red-600 px-3 py-1 rounded-md transition duration-200">Log out</a>
        </nav>
    </div>

    <h1 class="text-3xl text-center font-bold text-gray-800 mb-2">Course Handler</h1>
    <p class="text-gray-700 text-center text-base mb-6">This platform helps you dissect your course into modular examinable elements</p>
<!-- method="GET" action="/main.html" -->
    <form id="courseForm" class="max-w-lg mx-auto bg-white p-6 rounded-xl shadow-md">
        <fieldset class="space-y-4">
            <legend class="text-2x1 text-center font-semibold text-gray-800 mb-4">EMSI Courses (Semester 1)</legend>

            <div class="mb-4">
                <label for="htmlCourse" class="block text-sm text-center font-medium text-gray-700 mb-2">
                    <select id="course" name="selectedCourse">
                        <option value="" disabled selected>Choose a course</option>
                        <option value="cpp">C++</option>
                        <option value="php">PHP</option>
                        <option value="uml">System Design</option>
                        <option value="net">Networking</option>
                        <option value="webdev">Web Development</option>
                        <option value="comp">Compilation Theory</option>
                        <option value="sql">PL/SQL</option>
                        <option value="unix">UNIX</option>
                    </select>
                </label>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white text-center py-2 rounded-md hover:bg-blue-600 transition duration-200">Submit</button>
        </fieldset>
    </form>
</body>
</html>