<!DOCTYPE html>
<html>
<head>
    <meta>
    <title>E-Learning Platform</title>
    <script src="../scripts/profile.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">
    <h1 class="text-2xl font-semibold text-center text-gray-800 mb-6">Study Helper</h1>
    <p class="text-gray-700 text-base text-center max-w-xl mx-auto mb-6"><strong>Complete your profile</strong></p>

    <div class="flex justify-center items-center mt-8">
            <form id="profileForm" class="w-full max-w-sm bg-white p-6 rounded-xl shadow-md">
                <!-- <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Profile</h2> -->

                <fieldset class="border border-gray-300 rounded-xl p-4 mb-6">
                    <legend class="text-lg font-semibold text-center text-gray-800 mb-2">Tell Us About You</legend>

                    <div class="mb-4">
                        <label for="htmlUS" class="block text-sm font-medium text-gray-700 mb-1">
                            <span>Username</span>
                            <input type="text" id="us" name="username" class="w-full px-3 py-2 border border-gray-300 rounded-md
                            focus:outline-none focus:ring-2 focus:ring-blue-500
                            focus:border-blue-500" required>
                        </label>
                    </div>

                    <div class="mb-4">
                        <label for="htmlUS" class="block text-sm font-medium text-gray-700 mb-1">
                            <span>Birth Date</span>
                            <input type="date" id="age" name="age" class="w-full px-3 py-2 border border-gray-300 rounded-md
                            focus:outline-none focus:ring-2 focus:ring-blue-500
                            focus:border-blue-500" required>
                        </label>
                    </div>
                    
                    <fieldset class="border border-gray-300 rounded-xl p-4 mb-2">
                        <legend class="text-lg font-semibold text-center text-gray-800 mb-2">Choose a language</legend>

                        <div class="mb-4">
                            <label class="flex items-center gap-2 text-sm text-gray-700 cursor-pointer">
                                <input type="radio" name="language" value="EN" class="h-4 w-4 text-blue-500 focus:ring-blue-500" required>
                                <span class="font-medium">English</span>
                            </label>

                            <label class="flex items-center gap-2 text-sm text-gray-700 cursor-pointer">
                                <input type="radio" name="language" value="FR" class="h-4 w-4 text-blue-500 focus:ring-blue-500">
                                <span class="font-medium">French</span>
                            </label>

                            <label class="flex items-center gap-2 text-sm text-gray-700 cursor-pointer">
                                <input type="radio" name="language" value="AR" class="h-4 w-4 text-blue-500 focus:ring-blue-500">
                                <span class="font-medium">Arabic</span>
                            </label>
                        </div>
                    </fieldset>
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-200">Save</button>

                </fieldset>
            </form>
    </div>
    

</body>

</html>